# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/

# Build output
dist/
dist-ssr/
build/
coverage/

# Caches
.eslintcache
.npm/
*.tsbuildinfo

# Editor folders and OS files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment & sensitive files
.env
.env.*
*.local
SolveOn_Collection.json